fastapi
uvicorn
nltk
pandas
numpy
python-dotenv
motor
spacy
wordninja
contractions
streamlit
pyyaml
boto3
tensorflow
cutelog
python-multipart
gunicorn
skrebate
# imbalanced-learn
scipy
scikit-learn #==1.2.2
pydantic #==1.10.13
pydantic-settings
opencv-python
seaborn
ipykernel
setuptools
aiofiles